.cart-menu {
  position: absolute;
  top: 30px;
  left: -300px;
  background-color: rgb(36, 37, 41);
  width: 400px;
  padding: 10px 20px;
  z-index: 2;
  border-radius: 15px;

  &__arrange {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgb(225, 225, 225, 0.4);
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
