.btn{
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    &-primary{
        background-color: rgb(85,88,237);
    }
    &-secondary{
        background-color: rgb(88,82,84);
    }
    &-small{
        font-size: 14px;
    }
    &-medium{
        font-size: 10px;
    }
}