.cart-block{
    display: flex;
    align-items: center;
    position: relative;
    &_total-price{
        margin-left: 15px;
        font-size: 15px;
        font-weight: bold;
    }
    &_icon{
        cursor: pointer;
        position: relative;
    }
}
