.game-item{
    text-decoration: none;
    color: white;
    width: 320px;
    height: 300px;
    background-color: rgb(36,37,41);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    margin-right: 30px;
    &_title {
        font-size: 18px;
        font-weight: bold;
    }
    &_details{
        padding: 10px 20px;
    }
    &_description{
        margin-top: 10px;
        font-size: 14px;
    }
    &_buy{
        position: absolute;
        right: 0;
        bottom: -12px;
    }
    &_genre{
        margin-top: 20px;
    }
}
