.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &_store-title{
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
    }
    &_cart-btn-wrapper{
        justify-content: flex-end;
    }
}
.wrapper{
    display: flex;
    flex-grow: 1;
}
