.game-page{
    &__content{
        display: flex;
    }
    &__left{
        width: 70%;
    }
    &__right{
        width: 30%;
    }
    &__buy-game{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}
