body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(25, 26, 28);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    color: #fff;
}

a {
    color: #ffffff;
    text-decoration: none;

}
.secondary-text{
    color: rgb(88,82,84);
}